@charset "utf-8";
/* CSS Document */

#wrapper{
  background-image: url("../img/indexbg.png");
  background-repeat: no-repeat;
  height:1000px;
  margin-left:250px;
  margin-right:auto;
  width:1000px;
  
}
